// Estilos para el componente de navegación

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  // Aquí puedes continuar definiendo estilos específicos para la navegación.
  