.testimonials {
    background-color: #262626;
    color: #fff;
    padding: 4rem;
    text-align: center;
  
    .testimonial {
      margin-bottom: 2rem;
    }
  
    .testimonial-text {
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }
  
    .testimonial-author {
      font-size: 1rem;
      font-style: italic;
    }
  }