/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header */
header {
    padding: 20px 20%;
}

nav ul {
    list-style-type: none;
    display: grid; /* Utilizamos flexbox para alinear los elementos */
    grid-template-columns: repeat(4,1fr);
    justify-content: center; /* Centramos los elementos horizontalmente */
    padding: 0; /* Eliminamos el relleno para que los elementos no tengan espacios */
}

nav ul li {
    margin-right: 20px; /* Añadimos un espacio entre los elementos li */
    text-align: center; /* Centramos el texto horizontalmente */
}

nav ul li:last-child {
    margin-right: 0; /* Eliminamos el margen derecho del último elemento para evitar espacio adicional */
}

nav ul li a {
    text-decoration: none;
    font-size: large;
    color: #333;
    font-weight: bold;
}


/* Hero Section */
.hero {
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    color: #666;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.btn:hover {
    background-color: #0056b3;
}

.features {
    text-align: center;
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    gap: 20px; /* Espacio entre las columnas */
}

.features h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.feature {
    margin-bottom: 40px;
}

.feature i {
    font-size: 3em;
    color: #007bff;
}

.feature h3 {
    margin-top: 20px;
    font-size: 1.5em;
}

.feature p {
    color: #666;
}
/* Gallery Section */
.gallery {
    text-align: center;
    padding: 80px 0;
}

.gallery h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

.swiper-slide img {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    max-height: 300px; /* Establece una altura máxima */
    object-fit: cover; /* Para mantener la proporción de aspecto */
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 1s ease-in-out; /* Transición de opacidad */

}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f4f4f4;
}
